In [ ]:
import pandas as pd

In [29]:
df_Fill = pd.read_excel("./dataSet/cleanedData.xlsx")

In [30]:
df_Fill.iloc[:, 5:69] = (
    df_Fill.iloc[:, 5:69].astype(float).apply(pd.to_numeric, errors='coerce')/10
)

C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        19.6
1        22.0
2        20.6
3        22.4
4        20.2
         ...
16065    19.8
16066    16.8
16067    20.2
16068    28.0
16069    28.0
Name: BSL/S05, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.2
1        22.0
2        20.8
3        22.2
4        20.8
         ...
16065    20.2
16066    18.2
16067    20.4
16068    28.8
16069    28.8
Name: S10, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.8
1        22.2
2        21.8
3        22.0
4        21.8
         ...
16065    19.8
16066    19.4
16067    19.8
16068    29.0
16069    29.0
Name: S20, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.6
1        22.2
2        21.6
3        21.8
4        21.8
         ...
16065    20.8
16066    20.6
16067    20.6
16068    29.2
16069    29.2
Name: S30, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        19.6
1        22.0
2        20.6
3        22.4
4        20.2
         ...
16065    21.2
16066    19.4
16067    21.8
16068    29.2
16069    29.2
Name: BOGRA, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.2
1        22.0
2        20.8
3        22.2
4        20.8
         ...
16065    20.2
16066    19.2
16067    20.8
16068    29.0
16069    29.0
Name: ST10, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.8
1        22.2
2        21.8
3        22.0
4        21.8
         ...
16065    21.0
16066    21.0
16067    21.0
16068    29.2
16069    29.2
Name: ST20, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.6
1        22.2
2        21.6
3        21.8
4        21.8
         ...
16065    21.0
16066    21.0
16067    21.0
16068    28.8
16069    28.8
Name: ST30, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.4
1        21.6
2        21.2
3        21.4
4        21.6
         ...
16065    22.4
16066    22.4
16067    22.6
16068    28.0
16069    28.0
Name: ST50, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        16.5
1        22.0
2        18.2
3        22.0
4        19.5
         ...
16065    21.8
16066    18.3
16067    21.6
16068    28.4
16069    28.4
Name: COMILLA, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.8
1        21.8
2        20.0
3        22.4
4        21.0
         ...
16065    22.0
16066    18.6
16067    21.5
16068    28.7
16069    28.7
Name: ST10.1, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.4
1        21.5
2        21.8
3        21.0
4        21.4
         ...
16065    21.6
16066    21.4
16067    21.5
16068    29.0
16069    29.0
Name: ST30.1, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        22.4
1        22.5
2        22.4
3        21.8
4        21.8
         ...
16065    21.8
16066    20.6
16067    21.6
16068    28.4
16069    28.4
Name: ST50.1, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        17.0
1        18.8
2        18.0
3        21.4
4        17.2
         ...
16065    20.8
16066    18.4
16067    20.0
16068    28.4
16069    28.4
Name: DIP, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        16.4
1        17.8
2        18.4
3        20.0
4        17.4
         ...
16065    20.6
16066    18.8
16067    19.8
16068    28.2
16069    28.2
Name: ST10.3, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.4
1        18.6
2        19.0
3        19.4
4        18.8
         ...
16065    20.4
16066    20.4
16067    20.0
16068    28.2
16069    28.2
Name: ST20.3, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.6
1        19.0
2        19.4
3        19.2
4        18.6
         ...
16065    21.6
16066    20.6
16067    20.2
16068    27.8
16069    27.8
Name: ST30.3, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.8
1        19.0
2        20.0
3        19.0
4        18.5
         ...
16065    21.2
16066    21.2
16067    20.8
16068    27.2
16069    27.2
Name: ST50.3, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        15.6
1        21.6
2        17.3
3        21.8
4        18.6
         ...
16065    21.1
16066    17.2
16067    21.3
16068    28.4
16069    28.4
Name: ST10.4, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.6
1        21.6
2        19.5
3        22.0
4        20.6
         ...
16065    20.5
16066    18.5
16067    20.5
16068    29.2
16069    29.2
Name: ST20.4, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        22.6
1        22.6
2        22.3
3        23.0
4        23.0
         ...
16065    22.5
16066    22.2
16067    22.2
16068    30.5
16069    30.5
Name: ST50.4, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        17.4
1        22.6
2        18.8
3        23.5
4        19.8
         ...
16065    28.3
16066    28.3
16067    28.3
16068    28.3
16069    28.3
Name: JDP, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.4
1        21.4
2        20.9
3        22.2
4        21.5
         ...
16065    28.6
16066    28.6
16067    28.6
16068    28.6
16069    28.6
Name: ST20.5, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.0
1        22.6
2        18.4
3        23.2
4        19.0
         ...
16065    20.5
16066    18.3
16067    21.0
16068    28.2
16069    28.2
Name: MYM, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        19.0
1        22.6
2        19.2
3        23.4
4        20.2
         ...
16065    20.0
16066    19.2
16067    20.2
16068    28.8
16069    28.8
Name: ST10.7, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.4
1        21.6
2        21.6
3        22.0
4        21.8
         ...
16065    20.6
16066    20.0
16067    21.2
16068    28.8
16069    28.8
Name: ST20.7, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.2
1        20.2
2        20.2
3        20.4
4        20.8
         ...
16065    19.5
16066    19.6
16067    19.8
16068    27.0
16069    27.0
Name: ST30.7, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        22.0
1        22.6
2        22.0
3        22.4
4        22.8
         ...
16065    22.0
16066    21.6
16067    21.5
16068    28.0
16069    28.0
Name: ST50.7, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        16.4
1        21.2
2        16.8
3        23.0
4        17.8
         ...
16065    21.8
16066    17.0
16067    22.0
16068    28.4
16069    28.4
Name: RJS, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        17.4
1        21.4
2        17.5
3        22.2
4        19.0
         ...
16065    21.1
16066    17.5
16067    21.3
16068    29.0
16069    29.0
Name: ST10.8, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        19.2
1        20.5
2        19.8
3        21.0
4        20.4
         ...
16065    20.0
16066    19.0
16067    20.0
16068    29.0
16069    29.0
Name: ST20.8, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.4
1        20.8
2        20.8
3        21.0
4        21.4
         ...
16065    20.5
16066    20.5
16067    20.6
16068    29.8
16069    29.8
Name: ST30.8, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        21.0
1        21.0
2        21.0
3        21.0
4        21.4
         ...
16065    21.1
16066    21.1
16067    21.2
16068    29.4
16069    29.4
Name: ST50.8, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        15.4
1        19.5
2        16.0
3        22.0
4        19.0
         ...
16065    26.5
16066    14.0
16067    25.6
16068    26.2
16069    26.2
Name: RMT, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.0
1        22.8
2        19.0
3        24.0
4        20.0
         ...
16065    26.5
16066    16.5
16067    25.6
16068    28.0
16069    28.0
Name: ST10.9, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.4
1        22.6
2        21.0
3        23.5
4        21.0
         ...
16065    26.0
16066    17.2
16067    25.4
16068    28.9
16069    28.9
Name: ST20.9, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        20.6
1        21.2
2        21.0
3        23.5
4        21.0
         ...
16065    25.2
16066    18.0
16067    25.0
16068    29.2
16069    29.2
Name: ST30.9, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        22.1
1        21.6
2        22.0
3        23.0
4        20.8
         ...
16065    25.6
16066    17.8
16067    25.5
16068    22.8
16069    22.8
Name: ST50.9, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        18.0
1        19.9
2        18.4
3        21.6
4        18.8
         ...
16065    23.0
16066    17.8
16067    19.6
16068    27.6
16069    27.6
Name: ST10.10, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (
C:\Users\User\AppData\Local\Temp\ipykernel_6100\2268286926.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '0        19.0
1        20.0
2        19.3
3        20.6
4        20.0
         ...
16065    23.4
16066    18.6
16067    19.6
16068    27.8
16069    27.8
Name: ST20.10, Length: 16070, dtype: float64' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_Fill.iloc[:, 5:69] = (

In [31]:
df_Fill.head(5)

,Station,BARISAL,Month,Date,Hour,BSL/S05,S10,S20,S30,S50,...,RNP,ST10.10,ST20.10,ST30.10,ST50.10,SML,ST10.11,ST20.11,ST30.11,ST50.11
0,Barisal,2001,January,1.0,0,19.6,20.2,21.8,21.6,21.4,...,16.8,18.0,19.0,20.2,20.6,16.9,18.5,20.5,21.8,222
1,Barisal,2001,January,1.0,12,22.0,22.0,22.2,22.2,21.6,...,19.6,19.9,20.0,20.2,20.9,25.6,25.0,23.2,22.6,220
2,Barisal,2001,January,2.0,0,20.6,20.8,21.8,21.6,21.2,...,17.2,18.4,19.3,20.0,20.8,18.2,19.5,21.2,22.0,222
3,Barisal,2001,January,2.0,12,22.4,22.2,22.0,21.8,21.4,...,21.8,21.6,20.6,20.6,20.9,27.2,26.3,24.0,23.1,223
4,Barisal,2001,January,3.0,0,20.2,20.8,21.8,21.8,21.6,...,17.6,18.8,20.0,20.6,21.2,18.0,19.4,21.0,22.0,224

In [32]:
df_Fill.to_csv('filename.csv', index=False)